.wrapper {

}

.mainHeader {
  display: flex;
  background-color: #00A1C9;
  height: 75vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainHeader img {
  margin: 20px 0;
}

.title {
  font-size: 48px;
  line-height: 56px;
  font-weight: 600;
  color: #92DFF0;
}

.subTitle {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #FFF;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.button {
  padding: 0px 24px;
  border-radius: 4px;
  background-color: #007299;
  margin: 0 8px;
  color: #FFF;
  cursor: pointer;
  font-size: 18px;
  line-height: 48px;
  text-transform: uppercase;
  font-weight: 400;
}

.content {
  margin: 0 auto;
  width: 960px;
  padding: 40px;
}

.content img {
  border: 2px solid #223338;
  border-radius: 4px;
  width: 100%;
}

.content p {
  text-align: justify;
}

.row {
  display: flex;
  padding: 40px 0;
  line-height: 28px;
}

.row > div {
    flex: 0 0 50%;
}

.row > div:first-child {
  margin-right: 40px;
}

.row > div:last-child {
  margin-left: 40px;
}

.references {
  background-color: #E1EDF0;
  text-align: center;
  padding: 60px 40px;
  color: #779DA6;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.quote {
  display: flex;
  flex-direction: column;
}

.quoteText {
  font-size: 24px;
  line-height: 32px;
  font-style: italic;
}

.quoteNameWrapper {

}

.quoteName {
  font-weight: 500;
}

.referenceSplitterWrapper {
  padding: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.referenceLine {
  height: 1px;
  width: 50%;
  background-color: rgba(0,0,0,0.1);
}

.crazyAbout {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  background-color: #E1EDF0;
  padding: 0 10px;
  margin-top: -10px;
}

.companies {
  padding: 40px 40px 0 40px;
}
