.hljs-keyword, .hljs-literal {
  color: #30A5D0;
}
.hljs-comment {
  color: #999;
  font-style: italic;
}
.hljs-built_in, .hljs-title {
  color: #5CB85C;
}
.hljs-string, .hljs-value {
  color: rgb(232, 137, 102);
}
