.tabs {
  display: flex;
  flex-direction: row;
}

.tab {
  flex: 0 1 auto;
  padding: 0px 16px;
  border-radius: 4px;
  background-color: #C5DBE0;
  margin-right: 8px;
  cursor: pointer;
  font-size: 14px;
  line-height: 36px;
  font-weight: 400;
  color: #223338;
}

.activeTab {
  background-color: #00A1C9;
  color: #FFF;
}
