.wrapper {
  background-color: #004A66;
  padding: 40px;
}

.columns {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  justify-content: center;
  min-width: 760px;
}

.column {
  flex: 1;
  margin: 0px 20px;
  color: #FFF;
}

.header {
  color: #92DFF0;
  font-size: 12px;
  line-height: 38px;
  font-weight: 400;
  text-transform: uppercase;
}

.link {
  margin: 5px 0;
  cursor: pointer;
}

@media (max-width: 800px) {
  .columns {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    justify-content: flex-start;
  }

  .column {
    margin: 20px;
    flex: 1 1 auto;
  }
}
