.wrapper {
  padding-top: 100px;
}


.logoWrapper {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}

.logo {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logoWrapper img {
  height: 50px;
}

.header {
  position: fixed;
  display: flex;
  height: 60px;
  width: 100%;
  background-color: #00A1C9;
  top: 0;
  left: 0;
  box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.15);
  z-index: 2;
}

.title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  color: #92DFF0;
  margin-left: 20px;
}

.content {
  display: flex;
}

.menu {
  flex: 0 1 400px;
  min-width: 300px;
  padding-right: 10px;
}

.fixedMenuWrapper {
  position: fixed;
}

.document {
  flex: 0 1 960px;
  padding: 0 40px 40px 0;
  min-height: calc(100vh - 100px - 222px);
  box-sizing: border-box;
  overflow: hidden;
}

.menuButton {
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 24px;
  padding: 0 20px;
  cursor: pointer;
  outline: none;
}

.menuButton:hover {
  opacity: 0.8;
}

@media (min-width: 901px) {
  .menuButton {
    display: none;
  }
}

@media (max-width: 900px) {
  .document {
    padding: 40px;
  }
  .menu {
    display: none;
  }
}

.cerebral2 {
  background-color: #F27596;
  padding: 5px 10px;
  border: 1px solid #FFF;
  box-sizing: border-box;
  border-radius: 3px;
  float: right;
  height: 40px;
  margin: 10px;
  cursor: pointer;
  color: #FFF;
}
