.wrapper {
  padding-top: 100px;
}


.logoWrapper {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logoWrapper img {
  height: 50px;
}

.header {
  position: fixed;
  display: flex;
  height: 60px;
  width: 100%;
  background-color: #00A1C9;
  top: 0;
  left: 0;
  box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.15);
}

.title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  color: #92DFF0;
  margin-left: 20px;
}

.content {
  display: flex;
}

.menu {
  flex: 0 1 400px;
}

.fixedMenuWrapper {
  position: fixed;
}

.document {
  flex: 0 1 960px;
  padding: 0 40px 40px 0;
}
